{% extends "projapp/base.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          {% for post in posts %}
          <div class="proj-item">
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                  <small class="text-mute">{{ post.created_on }}</small>
                </div>
                <img src="{{post.image.url}}" alt="Avatar" style="width:100%">
                <!-- <p class="article-content">{{ post.description }}</p>
                <p class="article-content">{{ post.live_link }}</p> -->
              </div>
            </article>
          </div>  
          {% endfor %}
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    
{% endblock content %}